//* colors
$black: #1d1d1d;
$dark: #3f3f3f;
$gray: #6a6a6a;
$light-gray: #f2f2f2;
$bg: #fcfaf8;
$white: #fff;

$accent: #14cf93;
$accent-pale: #bde0c5;
$accent-dark: #253b39;
$skin: #f5d6b1;
$red: #fa6666;
$yellow: #f3f636;

//* scrollbar
$scrollbarBg: $bg;
$scrollbarThumb: $accent;
$scrollbarWidth: 1rem;
$scrollbarBorder: 0.2rem solid $scrollbarBg;
$scrollbarBorderRadius: calc($scrollbarWidth / 2);

//* text
$text-3xl: 9.6rem;
$text-2xl: 6.4rem;
$text-xl: 3.2rem;
$text-l: 2rem;
$text-m: 1.6rem;
$text-s: 1.2rem;
